<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body dir="ltr" lang="nl-NL">
<table style="page-break-before: always;">
<col width="256*"> <tbody>
<tr>
<td style="border: medium none ; padding: 0cm;" width="100%">
<div style="text-align: center;"> </div>
<h1 style="text-align: center;"><font face="Albany, sans-serif"><font
style="font-size: 20pt;" size="5">Boter, kaas en eieren rapport</font></font></h1>
</td>
</tr>
<tr>
<td style="border: medium none ; padding: 0cm;" width="100%">Machine
User Time
</td>
</tr>
<tr>
<td style="border: medium none ; padding: 0cm;" width="100%">Tic
Tac Toe report X won 1, O won 0 times, games played: 1
</td>
</tr>
<tr>
<td style="border: medium none ; padding: 0cm;" width="100%"><span
style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; font-size: medium; display: inline ! important; float: none;">Last
game played Game Over - Player X WINS!!!</span> + game board </td>
</tr>
<tr>
<td style="border: medium none ; padding: 0cm;" width="100%">
Last game per turn </td>
</tr>
<tr>
<td style="border: medium none ; padding: 0cm;" width="100%"> <br>
</td>
</tr>
</tbody>
</table>
</body>
</html>

